*{
    padding:0;
    margin: 0;
    font-family: 'Basement Grotesque', sans-serif;
}

@font-face {
    font-family: 'Basement Grotesque';
    src: url('../Fonts/BasementGrotesque-Black_v1.202.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Basement Grotesque', sans-serif;
}

  p, li ,li a,h4,h3, button{
    font-family: 'Aileron', sans-serif;
}
  
.dark{
    background:#000 url("./img/bg.jpg");  
}

.container{
    background-color:#000;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
  
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #13131a, #070707);
    justify-content: center; 
    align-items: center;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    transition: transform 0.9s ease-in-out;
    font-weight: bold;
    font-size: 55px;
}

#loading-text {
    padding-top: 38vh;
    color: #aaa ;
    animation: slideIn 0.4s ease-in-out forwards;
}

#loading-textt {
    opacity: 0.85;
    color: rebeccapurple;
    animation: slideIn 0.7s ease-in-out forwards;   
}

#loading-texttt {
    color:rgb(34, 186, 108); 
    animation: slideIn 1.1s ease-in-out forwards;  
} 

@keyframes slideIn {
    0% { 
        opacity: 0;
        transform: translateX(-100%); };
    100% {
        opacity: 1; transform: translateY(0); }
}

.nameContainer {
    height: 100vh;
    overflow: hidden;
}

.navlist{
display: flex;
padding-top: 70px;
justify-content:right; 
}

.navlist li {
    list-style: none;
}

.navlist li a{
   text-decoration: none;
   color:#999;
   letter-spacing: 1px;
   font-size: 15px;
   padding-right: 68px;
}

.navlist li a:hover{
    color:rgb(34, 186, 108); 
    font-weight: 600;
}

.textContainer {
    margin-top: 8vh;
    overflow: hidden; 
}

.myName{
    margin-left: 15.6%;
    font-size: 5.5vw;
    color: rgb(34, 186, 108); 

}   

.is-a {
    font-size: 20px;
} 

.name {
    margin-top: 3%;
    font-size: 8vw;
    padding: 2px;
    color: #888;
    text-align: center;
    animation: slideUp 4.1s ease-in-out forwards;
}

 @keyframes slideUp {         
     0% {
    opacity: 0;
    transform: translateY(100%);
        }
    100% {
    opacity: 1;
    transform: translateY(0%);
         }
}

.textContainer1{
    overflow: hidden;
}

.name1{
    margin-top: 3%;
    font-size: 6vw;
    color: rgb(34, 186, 108); 
    padding-left:37.9%;
    animation: blur 4s ease-in-out ;
}

 @keyframes blur {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 0.2  ;
          transform: translateX(0%);
        }
}

.aboutMeContainer{
    height: 100vh;
    position: relative;   
    background: linear-gradient(to bottom, #13131a, #000);  
}

.aboutMe {
    position: absolute;
    display: flex;
    font-size: 20vw;
    color: #fff;
    line-height: 100vh;
    cursor: default;
    opacity: 0.02;
    overflow: hidden;
}

.myPara{
    display: flex;
    padding:21% 11%;
    position: absolute;
    font-size:29px;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.9;
    letter-spacing: 0.5px;
  
}

.myDescContainer{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.myDesc {
    display: flex;
    position: absolute;
    font-size: 20vw;
    color: white;
    line-height: 80vh;
    cursor: default;
    opacity: 0.04;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skillsContainer{
    display: flex;
    flex: 1;
    padding: 0px 30px;
}

.skillsTitle {
    display: flex;
    color: rgb(34, 186, 108);
    font-size: 2.2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:120px;
}

.skillDisc{  
    display: flex;
    color: #ccc;
    margin: 70px;
    text-align: center;
    justify-content: center;
    font-size: 22px;
}

.skillsData ul li{
    display: flex;
    color:rgb(34, 186, 108); 
    text-align: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}

.projects {
    display: flex;
    flex-direction:column;
}

.arrow{
    color: #aaa;
    display: flex;
}

.projectsTitle{
    display: flex;
    position: relative;
    font-size: 30vh;
    padding-top: 35px;
    color:#fff;
    background-color: #888;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.08;
    height: 25vh;
    overflow: hidden;
}

.projectPara{
    position: absolute;
    display: flex;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color:rgb(34, 186, 108); 
    opacity: 0.8;
    word-spacing: 0.2px;
    font-weight:700;
    padding-left:36.6%; 
    padding-top: 5%;
    letter-spacing: 25px;
    overflow: hidden;
}

.project {
    display: flex ;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0px 50px;
    background: linear-gradient(to bottom, #13131a, #000);  
}

.projectDetail{
    width: 100vw;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px 0px;
}

.projectTitle{
    font-size: 2.8vw;
    color: rgb(64, 164, 112);
    text-align: left;
}

.projectDesc {
    margin-top: 40px;
    font-size: 28px;
    color:#aaa;
    padding: 20px;
    text-align: justify;
}

.langUsed {
    display: flex;
    align-items: center;
}

.langUsed li{
    margin: 5px;
    display: flex;
    color: rgb(64, 164, 112);
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;
}

.projectButton{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #666;
    color: #666;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectButton::after{
    content:"Visit project";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100% ;
    transition: 0.8s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    color: #ffffff;
}
.projectButton:hover.projectButton::after{
    transform:translate(100%);
}

.projectButton1{
    margin-top: 20px;
    padding: 10px 18px;
    background-color: transparent;
    border: 2px solid #666;
    color: #666;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectButton1::after{
    content:"Completed";
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16px;
    top: 0;
    left: -100% ;
    transition: 0.8s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    color: #ffffff;
}

.projectButton1:hover.projectButton1::after{
    transform:translate(100%);
}

.laptop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    width: 100vw;
    height: auto;
    flex: 2;
    position: relative; 
}

.laptopImg{
    height: 25vw;
    width: 38.8vw;
    margin-left:13px ;
}

.laptopScreen{
    width:29.2vw;
    height: 19vw;
    top: 4%;
    position: absolute;
    overflow: scroll;
}

.laptopApp{
    width: 100%;
    height: auto;
}

.laptopScreen::-webkit-scrollbar{
    display: none;
}

.ipad{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 290px;
    flex: 2;
    position: relative;
}

.ipadImg{
width: 32vw;
height: auto;
}

.ipadScreen{
    width: 30vw;
    height: 18.5vw;
    position: absolute;
    overflow: scroll;
    border-radius: 5px;
}

.ipadApp{
    width: 100%;
    height: auto;
}

.ipadScreen::-webkit-scrollbar{
    display: none;
}

.phone {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 590px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.phoneImg{
    height: 38vw;
    width: 19vw;
}

.phoneScreen {
    width:17.4vw; 
    height:35.5vw;
    position: absolute;
    border-radius: 28px;
    overflow: scroll;
}

.phoneApp{
    width: 100%;
    height: auto;
}

.phoneScreen::-webkit-scrollbar{
    display: none;
}

.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: #000; */
}

.githubTitle{
    font-size: 80px;
    padding: 10px;
    color: #444;
    margin-top: 80px;
    margin-bottom: 80px;
}

.githubChart{
    width: 820px;
    text-align: center;
}

.dates{
    padding: 10px;
    color:#555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.box{
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 2s all ease;
}

.active:nth-child(4n) {
    background-color:rgb(44, 164, 124) ;
}

.githubChart:hover .active:nth-child(2n+1){
    background-color: rgb(156, 240, 212);
}

.githubChart:hover .active:nth-child(2n){
    background-color: rgb(34, 186, 108); 
}

.connectContainer{ 
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, #111, #000);
}

.connect{
        position: absolute;
        display: flex;
        font-size: 12vw;
        color: #fff;
        line-height: 30vh;
        margin-top: 10%;
        cursor: default;
        opacity: 0.02;
        z-index: 0;
        overflow: hidden;
        scroll-behavior: smooth;
}

.iconContainer{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100%;
}

.fa-brands , .fa-solid{
margin-top: 90%;
font-size: 120px;
text-decoration: none;
color: rgb(34, 186, 108); 
cursor: pointer;
opacity: 0.6;
}

.iconContainer a{
    justify-content: space-between;
    padding: 90px;
    text-decoration: none;
}

.fa-brands:hover, .fa-solid:hover{
    opacity: 1;
    color: rebeccapurple;
}

@media screen and (max-width:1024px) {

    .navlist{
        margin-top: 40px;
    }

    .navlist li a{
        font-size: 12px;
        padding-right: 45px;
        justify-content: center;
    }

    
    .nameContainer{
        margin: 10px;
    }
    
    .myName{
        margin: 0;
        font-size: 45px;
        text-align: center;
        justify-content: center;
        margin-top:50px;
    }
    .is-a{
        font-size: 12px;
    }

    .name{
        margin: 15px 0px;
        font-size: 60px;
    }
    
    .name1{
        padding: 0px;
        font-size: 45px;
        text-align: center;
        justify-content: center;
        line-height: 12vh;
    }

    .aboutMe{
        transform: none !important;
        text-align: center;
        padding-top: 100px; 
        padding-left: 35px;
        align-items: center;
        justify-content: center;
        height: 25vh;
        flex:none;
        font-size: 50px;
        opacity: 0.4;
    }

    .myPara{
        flex: none;
        padding: 40px;
        padding-top: 120px;
        letter-spacing: none;
        word-spacing: none;
        font-size: 22px;
        height: 80vh;
    }

    .myDesc{
        transform: none !important;
        font-size: 50px;
        margin-top: 10px;
        margin-left: 110px;
        line-height: 8vh;
        opacity: 0.4;
        
    }

    .skillsContainer{
        flex-direction:column;
        margin-top: 22%;
    }

    .skillsTitle{ 
        font-size: 25px;
        margin-top: 4%;
    }

    .skillDisc{
        font-size: 14px;
        margin: 20px;
    }
    .skillsData ul li{
        font-size: 14px;
        margin: 20px;
    }

    .projects{
        padding: 0px;
        text-align: center;
    }

    .projectsTitle{
        display: flex;
        height: 40px;
        padding-bottom: 25px;
        font-size: 75px;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0.05;
    }

    .projectPara{   
       font-size: 20px;
       padding-top: 35px;
       letter-spacing: none;
       word-spacing: none;
       padding-left: 50px;
       font-weight: none;
       opacity: 0.4;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .laptop{
        transform: none !important;
    }
    
    .laptopImg{
        width: 97vw;
        height: auto;
        margin-left: 0;
        z-index: 0;
    }
    
    .laptopScreen{
        width: 73vw;
        height: 47vw;
        top:24%;
        left: 12.5%;
        z-index: 1;
    }
    
    .ipad{
        margin-top: 30%;
        padding-bottom: 20px;
        transform: none !important;
    }
    
    .ipad img {
        width: 85vw;
        height: auto;
    }
    
    .ipadScreen{
        width: 80vw;
        height: 22.8vh;
        border-radius: 3px;
    }
    
    .phone{
        transform: none !important;
        margin-top: 10%;
        padding-bottom: 20px;
    }

    .phoneImg{
        height: 45vh;
        width: 50vw;
    }

    .phoneScreen{
        width:45vw;
        height:92vw;
        position: absolute;
        border-radius: 17px;
        overflow: scroll;
    }

    .projectTitle{
        font-size: 6vw;
        
    }

    .projectDesc{
        font-size: 14px;
        padding: 0px 5px;
        text-align: center;
        line-height: none;
    }

    .langUsed li{
        font-size: 12px;
    }

    .projectButton{
        padding: 10px;
    }

    .githubTitle{
        text-align: center;
        font-size: 12vw;
    }
    
    .githubChart {
        display: none;
    }

    .connect{
        transform: none !important;
        text-align: center; 
        padding-left: 7vw;
        line-height: 30vh;
    }

    .fa-brands , .fa-solid{
        font-size: 50px;
        padding: 20px;
    }

    .iconContainer{
    padding-top: 0;
    padding-left: 0;
    }

    .iconContainer a{
    padding: 0px;
    }   
}

/* @media screen and (min-device-width: 844px) and (device-height: 390px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) { */
    @media screen and (min-device-width: 844px) and (max-device-width: 844px) and (min-device-height: 390px) and (max-device-height: 390px) and (orientation: landscape) {
    .navlist{
        margin-top: 0px;
    }

    .myDesc{
        display: none;
    }

    .skillsContainer{
        flex-direction: row;
        margin: 20px;
    }

    .laptop{
        display: flex;
        flex: 1;
        width: 100vw;
        transform: none !important;
        padding-top: 30px;
        padding-left: 0;
    }
    
    .laptop img{
        width: 35vw;
        height: auto;
        margin-bottom: 190px;
    }

    .laptopScreen{
        width: 26.3vw;
        height: 17vw;
        left: 4vw;
        top: 10vh;
    }

    .project{
        display: flex;
        flex-direction: row;
    }

    .projectTitle{
        display: flex;
        padding-top: 20px;
        font-size: 30px;
    }

    .projectDesc{
        font-size: 20px;
        margin-left: 55px;
         text-align: justify;
    }

    .langUsed{
        margin-left: 50px;
    }

    .langUsed li{
        font-size: 14px;
    }

    .ipad{
        margin-bottom: 22%;
    }

    .ipad img {
        width: 33vw;
        height: auto;
        padding-right: 60px;
        padding-bottom: 40px;
    }
    
    .ipadScreen{
        width: 31vw;
        height: 41vh;
        top: 91px;
        left: 1vw;
        border-radius: 3px;
    }

    .phone img{
        width: 15vw;
        height: 30vw;
    }

    .phoneScreen {
        width:13vw;
        height:61vh;
        top: 18%;
        border-radius: 8px;
    }

    .githubTitle{
        text-align: center;
        font-size: 6vw;
    }
    
    .githubChart {
    display: block;
    }

    .connect{
    line-height: 20vh;
}

.fa-brands , .fa-solid{
    font-size: 50px;
    margin: 40px;
    }
}
