*{
    padding:0;
    margin: 0;
   font-family: 'Open Sans', sans-serif;

}

.container{
    background-color:rgb(9, 9, 9)  ;
    overflow: hidden;
    scroll-behavior: smooth;
}


/* preloader testing */

body {
    margin: 0;
    padding: 0;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(216, 215, 215);
    background: rgb(117, 67, 168) url("./img/bg1.png");
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 9999;
    opacity: 1;
    letter-spacing: 2px;
    transition: transform 0.9s ease-in-out;
  }

  #loading-text {
    font-size: 50px;
    color:whitesmoke;
    animation: slideIn 0.5s ease-in-out forwards;
  }

  #loading-textt {
    font-size: 50px;
    color: white;
    animation: slideIn 1s ease-in-out forwards;   
  }
  #loading-texttt {
    font-size: 50px;
    color: whitesmoke;
    animation: slideIn 1.5s ease-in-out forwards;  
  } 
  @keyframes slideIn {
    0% { 
        opacity: 0;
        transform: translateY(-100%); };
    100% {
        opacity: 1; transform: translateY(0); }
  }

.nameContainer {
    height: 100vh;
    background-color:#111;
    overflow: hidden;
  
}

.navlist{
display: flex;
flex:1;
padding-top:50px;
padding-left:70px;
padding-right: 70px;
justify-content: space-between;
}

.navlist li {
    list-style: none;
    /* color: #222; */
     }

.navlist li a{
   text-decoration: none;
   color:#ddd;
   letter-spacing: 1px;
    }

.textContainer {
    margin-top: 10vh;
    /* top: 0; */
    /* height: 200px; */
    overflow: hidden; 
}

.myName{
    padding-left: 200px;
    font-size: 65px;
    padding-top: 40px;
    color: rgb(64, 164, 112);   
    opacity: 0.9;
}   

.is-a {
    font-size: 20px;
    /* color: #333; */
  } 

.name {
    padding: 10px 100px;
    font-size: 115px;
    color: #666 ;
    text-align: center;
    justify-content: center;
    animation: slideUp 4.2s ease-in-out forwards;
}

      
      @keyframes slideUp {         
     0% {
    opacity: 0.5;
    transform: translateY(100%);
        }
    100% {
    opacity: 1;
    transform: translateY(0%);
         }
      }

.textContainer1{
    overflow: hidden;
}

.name1{
    
    font-size: 89px;
    color:rgb(64, 164, 112);
    padding-left: 47%;
    animation: blur 4.4s ease-in-out ;
}


 @keyframes blur {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 0.2  ;
          transform: translateX(0%);
        }
      }






.aboutMeContainer{
    height: 100vh;
    position: relative;
}


.dark{
    background: #000 url("./img/bg1.png");
}

.purple{
    background:rgb(117, 67, 168) url("./img/bg1.png");
}



/* .light{
    background: whitesmoke url("./img/bg2.png");
} */

.aboutMe {
    position: absolute;
    display: flex;
    font-size: 7.5vw;
    color: white;
    line-height: 80vh;
    cursor: default;
    opacity: 0.5;
}

.myPara{
    padding: 400px 200px;
    display: flex;
    position: relative;
    font-size: 23px;
    align-items: center;
    text-align: center;
    color: rgb(21, 21, 21);
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    font-weight: 420;
}

.myDescContainer{
    height: 100vh;
}
.mydesc {
    font-size: 8vw;
    color: white;
    line-height: 100vh;
    cursor: default;
    opacity: 0.5;
}

.projects {
    display: flex;
    flex-direction:column;
    gap: 30vh;
    padding:0px 100px;
}

.projectsTitle{
    font-size: 10vw;
    color:#666;
    justify-content: center;
    text-align: center;
}

.project {
    display: flex ;
    align-items: center;
    gap: 100px; 
    height: 100vh;
    overflow: hidden;
}

.project:nth-child(2n){
    flex-direction:row-reverse;
}

.phone {
    flex: 1 ;
    width:300px;
    height: 600px;
    position: relative;
}

.phoneScreen {
    width:264px;
    height:567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}

.phoneScreen::-webkit-scrollbar{
    display: none;
}

.phoneApp{
    width: 100%;
}

.projectDetail{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center; 
}

.projectTitle{
    font-size: 4vw;
    color: #666;
    text-align: center;
    
}

.projectDesc {
    font-size: 20px;
    color:#666;
    text-align: justify;
    line-height: 40px;
}

.projectButton{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #666;
    color: #666;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectButton::after{
    content:"View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100% ;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    color: #333;
}

.projectButton:hover.projectButton::after{
     transform:translate(100%);
}

.laptop{
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}

.laptopScreen{
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
}

.laptopScreen::-webkit-scrollbar{
    display: none;
}

.laptopApp{
    width: 100%;
}

.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle{
    font-size: 100px;
    color: #333;
}

.githubChart{
    width: 820px;
    text-align: center;
}

.dates{
    padding: 10px;
    color:#555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

/* box class given in js */

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.box{
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 2s all ease;
}

.active:nth-child(4n) {
    background-color:rgb(44, 164, 124) ;
}

.githubChart:hover .active:nth-child(2n+1){
    background-color: rgb(156, 240, 212);
}

.githubChart:hover .active:nth-child(2n){
    background-color: rgb(44, 164, 124);
}

.contactInfoContainer{ 
    height: 100vh;
}

.contactInfo{
    font-size: 60px;
    color: #555;
    text-align:center;
}



@media screen and (max-width:1024px) {

    .navlist{
        display: none;
    }

    .myName{
        vertical-align: center;
        padding: 0;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        padding-top: 100px;
}
    .is-a{
        font-size: 15px;
    }

    .name{
        padding: 0;
        font-size: 55px;
        padding-top: 30px;
        padding-right: 20px;    }

    .name1{
        padding: 0;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        line-height: 12vh;
    }

    .aboutMe{
        transform: none !important;
        text-align: center;
        padding-top: 100px; 
        padding-left: 80px;
        align-items: center;
        justify-content: center;
        height: 40vh;
        flex:none;
        font-size: 40px;
    }

    .myPara{
        flex: none;
        padding: 30px;
        padding-top: 200px;
        text-align: justify;

        letter-spacing: none;
        word-spacing: none;
        height: 80vh;
    }

    .myDesc{
        transform: none !important;
        font-size: 45px;
        text-align: center;
        justify-content: center;
    }

    .projects{
        padding: 0 30px;
        text-align: center;
    }

    .project {
        flex-direction: column;
        height: max-content;

    }
    
    .project:nth-child(2n){
        flex-direction: column;
    }

    .phone,.laptop{
        transform: none !important;
    }

    .githubTitle{
        text-align: center;
        font-size: 10vw;
    }

    .githubChart {
        display: none;
    }
}

